<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') -%>
    <title>URL Shortener</title>
</head>

<body align="center">
    <%- include('partials/navbar') -%>
    <div class="main container py-5">
        <div class="text-center p-5">
            <div class="text404 display-3">404</div>
            <div class="text-center">
                <!-- <%= data %> -->
                Page not found
            </div>
        </div>
    </div>
    <%- include('partials/footer') -%>
    <%- include('partials/scripts') -%>
</body>

</html>