<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('partials/head') -%>
	<title>URL Shortener</title>
</head>

<body align="center">
	<%- include('partials/navbar') -%>
	<div class="main container">
		<%- messages('my_message_template', locals) %>
		<h1 class="text-center header-text my-4">Shorten your URL</h1>

		<form id="shortUrlCreatorForm" class="my-3 p-5 shadow-dark bg-light" method="post" action="/shorten">
			<div class="form-row align-items-center">
				<div class="col-md-12">

					<div class="input-group my-4">
						<div class="input-group-prepend">
							<div class="input-group-text">URL</div>
						</div>
						<input type="text" name="url" class="form-control py-4" id="url" placeholder="https://www.example.com" required />
					</div>

					<div class="input-group my-4">
						<div class="input-group-prepend">
							<div class="input-group-text">urll.herokuapp.com/</div>
						</div>
						<input type="text" name="key" class="form-control py-4" id="key" placeholder="(Optional key)" />
					</div>
				</div>

				<div class="col-md-12 mt-2 mb-2">
					<input type="submit" value="Shorten" class="d-block mx-auto btn btn-secondary py-2 px-5" />
				</div>
			</div>
		</form>

		<!-- show shorted url -->
		<% if(data){ %>
		<div class="p-4 mt-5 bg-light-dark">
			<h6>Shorted Url:</h6>
			<div class="result-container p-2">
				<a class="result" href="<%= data %>">
					<%= data %></a>
			</div>
			<button class="btn btn-secondary mt-1">Get QR Code</button>
		</div>
		<% } %>

		<% if(svg) { %>
		<div class="row no-gutters my-5 bg-light-dark rounded">
			<div class="col-md-6 p-4">
				<h6 class="text-center">QR Code (Unshorted):</h6>
				<img class="mx-auto d-block mt-4" src="qr-unshorted.svg" alt="qr code" height="150px">
			</div>
			<div class="col-md-6 p-4">
				<h6 class="text-center">QR Code (Shorted):</h6>
				<img class="mx-auto d-block mt-4" src="qr-shorted.svg" alt="qr code" height="150px">
			</div>
		</div>
		<% } %>

		<!-- show already shorted urls if logged in -->
		<% if(urlList) { %>
		<table class="table table-light shadow-dark my-5">
			<thead>
				<tr>
					<th colspan="4" class="recent-heading">Recently shortened links:</th>
				</tr>
			</thead>
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Original URL</th>
					<th scope="col">Short URL</th>
					<th scope="col">QR-Code</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0; i < urlList.length; ++i){
					var originalURL = urlList[i].url;
					var shortedURL = "urll.herokuapp.com/" + urlList[i].key;
				%>
				<tr class="px-3">
					<td>
						<%= i+1 %>
					</td>
					<td>
						<a class="url" href="<%= originalURL %>">
							<%= originalURL %></a></td>
					<td>
						<a class="url" href="<%= shortedURL %>">
							<%= shortedURL %></a></td>
					<td>NA</td>
				</tr>
				<% } %>
			</tbody>
		</table>
		<% } %>
	</div> <!-- container -->

	<%- include('partials/footer') -%>
</body>

</html>